<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appid</key>
	<string>0</string>
	<key>baseurl</key>
	<string>http://data.howbuy.com/hws/</string>
	<key>basicinfo</key>
	<string>20001109</string>
	<key>cacheexpiredtime</key>
	<integer>86400</integer>
	<key>channel</key>
	<string>28294555</string>
	<key>channelId</key>
	<string>app store</string>
	<key>closeFundsVersion</key>
	<string>1352412451000</string>
	<key>closeFundsVersionS</key>
	<string></string>
	<key>company</key>
	<string>20120418</string>
	<key>dbversion</key>
	<string>20120418</string>
	<key>fixedLastGetTime</key>
	<string>1</string>
	<key>fixedOrderPreference</key>
	<integer>0</integer>
	<key>fixedOrderTypePreference</key>
	<integer>0</integer>
	<key>infomation</key>
	<integer>1352454353297</integer>
	<key>manager</key>
	<string>20121109</string>
	<key>md5</key>
	<string>74AD000FF08DE2DEA148E14A8BBF5112</string>
	<key>moneyFundsVersion</key>
	<string>1352387187000</string>
	<key>moneyFundsVersionS</key>
	<string></string>
	<key>name</key>
	<string>HowBuy Fund Mobile</string>
	<key>netvalue</key>
	<string>1</string>
	<key>networkVersion</key>
	<string>0.1.0</string>
	<key>openFundsVersion</key>
	<string>1352452393000</string>
	<key>openFundsVersionS</key>
	<string></string>
	<key>privateFundsVersion</key>
	<string>1352304000000</string>
	<key>privateFundsVersionS</key>
	<string></string>
	<key>customFundsVersionS</key>
	<string></string>
	<key>productid</key>
	<string>28294488</string>
	<key>research</key>
	<integer>1352454353297</integer>
	<key>sortedNetValueOrderPreference</key>
	<integer>0</integer>
	<key>sortedNetValueOrderPreferenceClose</key>
	<integer>0</integer>
	<key>sortedNetValueOrderPreferenceMoney</key>
	<integer>0</integer>
	<key>sortedNetValueOrderPreferencePrivate</key>
	<integer>0</integer>
	<key>sortedNetValueOrderTypePreference</key>
	<integer>0</integer>
	<key>sortedNetValueOrderTypePreferenceClose</key>
	<integer>0</integer>
	<key>sortedNetValueOrderTypePreferenceMoney</key>
	<integer>0</integer>
	<key>sortedNetValueOrderTypePreferencePrivate</key>
	<integer>0</integer>
	<key>sortedNetValuesByDate</key>
	<false/>
	<key>starturl</key>
	<string>http://data.howbuy.com/start/hostdistribution.json</string>
	<key>umengAppKey</key>
	<string>4e0d38a9431fe34bc7000160</string>
	<key>version</key>
	<integer>11</integer>
	<key>imsi</key>
	<string></string>
	<key>phoneNumber</key>
	<string></string>
	<key>userName</key>
	<string>pcyan</string>
	<key>tradeEntryUrl</key>
	<string>https://trade.ehowbuy.com/wap/</string>
	<key>coopId</key>
	<string>A20120701</string>
	<key>notifyToken</key>
	<string></string>
	<key>upAndDownInfoArray</key>
	<array/>
	<key>appLaunchTimes</key>
	<integer>0</integer>
	<key>appLastShowTipsLaunchTimes</key>
	<integer>2</integer>
	<key>appHasBeencommentated</key>
	<false/>
	<key>dbNeedUpdate</key>
	<true/>
	<key>token</key>
	<string></string>
	<key>needNotifyUpdate</key>
	<true/>
	<key>webViewFontSize</key>
	<real>1</real>
	<key>appLastShowShare2FriendsTipsLunchTimes</key>
	<integer>1</integer>
	<key>appShow2FriendsTipsHasBeenShowed</key>
	<false/>
	<key>showNewFunctions</key>
	<true/>
	<key>isSendSmsOn</key>
	<false/>
	<key>monitorUserArray</key>
	<array>
		<dict>
			<key>name</key>
			<string>李杨</string>
			<key>uid</key>
			<string>230047837</string>
			<key>sendFlag</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>鄢彭超</string>
			<key>uid</key>
			<string>393036566</string>
			<key>sendFlag</key>
			<true/>
		</dict>
	</array>
	<key>monitorTimerArray</key>
	<array>
		<dict>
			<key>on</key>
			<false/>
			<key>weekendFlag</key>
			<false/>
			<key>displayName</key>
			<string>定时器1</string>
			<key>runTime</key>
			<string></string>
		</dict>
		<dict>
			<key>on</key>
			<false/>
			<key>weekendFlag</key>
			<false/>
			<key>displayName</key>
			<string>定时器2</string>
			<key>runTime</key>
			<string></string>
		</dict>
		<dict>
			<key>on</key>
			<false/>
			<key>weekendFlag</key>
			<false/>
			<key>displayName</key>
			<string>定时器3</string>
			<key>runTime</key>
			<string></string>
		</dict>
	</array>
	<key>customIDsArray</key>
	<array>
		<string>470888</string>
	</array>
</dict>
</plist>
